<header class="headerLogin ">
        <div class="container-fluid  ">
          <div class=" welcomeLanding ">
            <div class="col-sm-3 col-xs-12 cotyLogoContainer"> <img src="assets/images/logoCotyInner.png" width="93" height="59" alt=""/> </div>
            <div class="col-sm-6 col-xs-12 welcomeTextLanding"> <span class="">Welcome to Business Intelligence Platform</span><span class="logo-UstGlobal"><img src="assets/images/poweredByUst.png" width="91" height="50" alt=""/></span> </div>
            <div class="col-md-3 col-sm-6 col-xs-12 innerHeaderRt">
              <div class="row">
                <div class="col-sm-3 col-xs-12  hamburger ">
                  <div class=" navbar-header  dropdown">
                    <button type="button" class=" dropdown-toggle iconHamburger" data-toggle="dropdown"   ><i class="fa fa-bars fa fa-bars fa-1" aria-hidden="true"></i></button>
                    <ul class="dropdown-menu">
                     <div class="arrow-up"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                      <li class="first-link"><a href="#"><span><i class="fa fa-external-link" aria-hidden="true"></i></span><span class="dropdownItem">Data Loader</span></a></li>
                      <li class="border0" (click)="logout()"><a href="#"><span><i class="fa fa-sign-out" aria-hidden="true"></i></span><span class="dropdownItem">Logout</span></a></li>
                    </ul>
                  </div>
                </div>
                
                <!-- Profile -->
                <div class="col-md-3 col-sm-3 col-xs-3 myProfileHolder  ">
                  <div class="dropdown myProfile"> <a class="dropdown-toggle" data-toggle="dropdown"> <span><img class="img-circle profilePicture" src="assets/images/avatar-1.jpg"></span> </a> 
                    <!-- <ul class="dropdown-menu">
                        <li class="first-link"><a href="#">My Profile</a></li>
                        <li><a href="#">Lorem ipsum  </a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                      </ul>--> 
                  </div>
                </div>
                
                <!-- Email Notification -->
                <div class="col-md-3 col-sm-3 col-xs-3 myBellHolder ">
                  <div class="dropdown bell"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-envelope-o"></i>
                    <div class="bellNotifctn"><span class="notifctnNum">3</span></div>
                    </a> 
                    <!-- <ul class="dropdown-menu">
                        <div class="head"> <span class="notify">Notifications</span>
                         </div>
                        <li class="first-link"><a class="unread" href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a class="unread" href="#">Lorem ipsum dolor sit amet.</a></li>
                        <li><a class="read" href="#">Lorem ipsum dolor sit amet.</a></li>
                      </ul>--> 
                  </div>
                </div>
                
                <!-- Mute -->
                <div class="col-md-3 col-sm-3 col-xs-3 myBellHolder ">
                  <div class="dropdown bell"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fa fa-bell-o"></i>
                    <div class="bellNotifctn"><span class="notifctnNum">3</span></div>
                    </a> 
                    <!-- <ul class="dropdown-menu">
                        <div class="head"> <span class="notify">Notifications</span>
                         </div>
                        <li class="first-link"><a class="unread" href="#">A report has been added under ABC123 at 08:34 AM Yesterday by Thomas Mullar.</a></li>
                        <li><a class="unread" href="#">Your service request STR5365285 was updated on 07:19 AM Today.</a></li>
                        <li><a class="read" href="#">Your service request STR5365285 was updated on 11:05 AM Yesterday.</a></li>
                      </ul>--> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-nav></app-nav>
        </div>
      </header>

<!--div class="topHeaderUST">
    <div class="headerLeft"></div>
    <div class="headerCenter"></div>
    <div class="headerRight">
        <div class="floatRight" style="padding: 10px;">
            <div class="divHamburger"></div>
            <div class="divHamburger"></div>
            <div class="divHamburger"></div>
        </div>
        <div class="floatRight circle"></div>
        <div class="floatRight email"></div>
        <div class="floatRight bell"></div>
    </div>
</div>
<div class="headerBottomStrip"></div-->