<div class="topHeaderUST">
    <div class="headerLeft"></div>
    <div class="headerCenter"></div>
    <div class="headerRight">
        <div class="floatRight" style="padding: 10px;">
            <div class="divHamburger"></div>
            <div class="divHamburger"></div>
            <div class="divHamburger"></div>
        </div>
        <div class="floatRight circle"></div>
        <div class="floatRight email"></div>
        <div class="floatRight bell"></div>
    </div>
</div>
<div class="headerBottomStrip"></div>