<app-header></app-header>


<div class="no-gutters MDcontainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="title">Inventory Summary</div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Gross Retail Inventory In $
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Total Store Count
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Unit Cost Price
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Unit Retail Price
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Average number of weeks on hand
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="title">Markdown Summary</div>
                <div class="subTitle">
                    TopLine STRATEGY
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        WAVE 1 total $
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        WAVE 2 total $
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        RESIDUAL INV $ VALUE
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        DISPOSAL FEE TOTAL
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        TOTAL COTY MD LIABILITY
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="subTitle">
                    SUSTAINABLE GROWTH STRATEGY
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        WAVE 1 total $
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        WAVE 2 total $
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        RESIDUAL INV $ VALUE
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        DISPOSAL FEE TOTAL
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        TOTAL COTY MD LIABILITY
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="title">Innovation Summary</div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Customer GMROII YR1
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Sales Forecast for YR1
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Sales Forecast for YR2
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Sales Forecast for YR3
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>
                <div class="row padBottom20px">
                    <div class="floatLeft">
                        <div class="questionMarkWhite"></div>
                    </div>
                    <div class="floatLeft">
                        Net POD Change
                    </div>
                    <div class="col-sm-4 floatRight">
                        <input type="text" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--div>
        <a class="button startBtn" [routerLink]="['/MdHowManyWaves']">Start</a>
    </div-->
</div>
<footer class="footerbackground">
    <div class="row wrapper">
        <button type="button" class="btn btn-primary btn-default" (click)="previous();" tooltip="previus">Previous</button>
        <button type="button" class="btn btn-primary btn-default" (click)="next();" tooltip="Save & Continue">Save & Continue</button>
    </div>
</footer>