<app-header></app-header>

<div class="no-gutters MDcontainer">
    <div class="container">
        <div class="row">
            <!--button class="filter-btn" (click)="filter.hidden = !filter.hidden">Category</button>
            <div #filter>dsf</div-->
            <div class="col-sm-12">
                <div class="title">Markdown Details</div>
                <div class="sub-title">Enter the markdown terms for this wave</div>
                <div class="middleContainer">
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Is there a markdown constraint?
                        </div>
                        <div class="col-sm-4 floatRight">
                            <div class="radioContainer">
                                <input type="radio" name="markdownCont"> Yes
                            </div>
                            <div>
                                <input type="radio" name="markdownCont">No</div>
                        </div>
                    </div>
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Maximum Trade Spent Allowance
                        </div>
                        <div class="col-sm-4 floatRight">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Minimum Return on Investment
                        </div>
                        <div class="col-sm-4 floatRight">
                            <input type="text" />
                        </div>
                    </div>
                </div>
                <div class="middleContainerMiddle">
                    <div class="fourColumn">
                        <div class="questionMarkWhite floatLeft" data-tooltip="Further Explain Hover."></div>
                        <div class="padTop5px">Markdown%</div>
                    </div>
                    <div class="fourColumn">
                        <div class="questionMarkWhite floatLeft" data-tooltip="Further Explain Hover."></div>
                        <div class="padTop5px">Coty Ownership of Markdown</div>
                    </div>
                    <div class="fourColumn">
                        <div class="questionMarkWhite floatLeft" data-tooltip="Further Explain Hover."></div>
                        <div class="padTop5px">Lift</div>
                    </div>
                    <div class="fourColumn">
                        <div class="questionMarkWhite floatLeft" data-tooltip="Further Explain Hover."></div>
                        <div class="padTop5px">Length in Weeks</div>
                    </div>
                </div>
                <div class="middleContainerMiddle">
                    <div class="fourColumn">
                        <div class="padTop5px">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="fourColumn">
                        <div class="padTop5px">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="fourColumn">
                        <div class="padTop5px">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="fourColumn">
                        <div class="padTop5px">
                            <input type="text" />
                        </div>
                    </div>
                </div>
                <div class="middleContainer">
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Is there a disposal fee?
                        </div>
                        <div class="col-sm-4 floatRight">
                            <div class="radioContainer">
                                <input type="radio" name="disposalFee">Yes
                            </div>
                            <div>
                                <input type="radio" name="disposalFee">No</div>
                        </div>
                    </div>
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Please enter the % of remaining inventory $ value
                        </div>
                        <div class="col-sm-4 floatRight">
                            <input type="text" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footerbackground">
    <div class="row wrapper">
        <button type="button" class="btn btn-primary btn-default" (click)="previous();" tooltip="previus">Previous</button>
        <button type="button" class="btn btn-primary btn-default" (click)="next();" tooltip="Save & Continue">Save & Continue</button>
    </div>
</footer>