.MDcontainer {
    background-color: #4c1d82; 
    height: 310px; 
    color: #ffffff;
}
.button_Download{
    background-color: #ffffff;
    border: 1px solid #4c1d82;
    color: #4c1d82;
	border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
	width:400px;
	height:50px;
	margin: 0 auto;
}
.button_Upload{
    background-color: #4c1d82;
    border: 1px solid #ffffff;
    color: #ffffff;
	border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
	width:400px;
	height:50px;
}
.tempatePaddingDownload{
	margin-top: 50px;	
}
.tempatePaddingUpload{
	margin-top: 10px;	
}
.btn-default{
border-radius: 10px;
}
.wrapper {
    text-align: center;
}
.btn-bs-file{
    position:relative;
}
.button_Upload input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:300;
    height:200;
    outline: none;
    cursor: inherit;
}



