<app-header></app-header>
<app-nav></app-nav>
<div class="row no-gutters MDcontainer">
  <div class="title">Select Retailer</div>
  <div class="sub-title">Please Select Retailer</div>
  <ul>
    <li>
        <div class="bell" data-tooltip="Further Explain Hover."></div>
        <div>Walmart</div>
        <div style="float: right;"><input type="radio" name="" value="" /></div>
    </li>
    <li>
        <div class="bell" data-tooltip="Further Explain Hover."></div>
        <div>Walmart</div>
        <div><input type="radio" name="" value="" /></div>
    </li>
   
  </ul>

</div>