<app-header></app-header>
<app-nav></app-nav>
<div class="row no-gutters MDcontainer">
  <div class="title">Select Retailer</div>
  <div class="sub-title">Please Select Retailer</div>
  <ul>
    <!--li>
        <div class="bell" data-tooltip="Further Explain Hover."></div>
        <div>Walmart</div>
        <div style="float: right;"><input type="radio" name="" value="" /></div>
    </li>
    <li>
        <div class="bell" data-tooltip="Further Explain Hover."></div>
        <div>Walmart</div>
        <div><input type="radio" name="" value="" /></div>
    </li-->
    <li>
      <div class="row padBottom20px">
        <div class="floatLeft">
            <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
        </div>
        <div class="floatLeft">
            Walmart
        </div>
        <div class="col-sm-400 floatRight">       
            <input type="radio" />
        </div>
      </div>
    </li>
    <li>
      <div class="row padBottom20px">
        <div class="floatLeft">
            <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
        </div>
        <div class="floatLeft">
            CVS Parmacy
        </div>
        <div class="col-sm-400 floatRight">       
            <input type="radio" />
        </div>
      </div>
    </li>
    <li>
      <div class="row padBottom20px">
        <div class="floatLeft">
            <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
        </div>
        <div class="floatLeft">
          Walgreens
        </div>
        <div class="col-sm-400 floatRight">       
            <input type="radio" />
        </div>
      </div>
    </li>
    <li>
      <div class="row padBottom20px">
        <div class="floatLeft">
            <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
        </div>
        <div class="floatLeft">
          Target
        </div>
        <div class="col-sm-400 floatRight">       
            <input type="radio" />
        </div>
      </div>
    </li>
    <li>
      <div class="row padBottom20px">
        <div class="floatLeft">
            <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
        </div>
        <div class="floatLeft">
          Rtie Aid
        </div>
        <div class="col-sm-400 floatRight">       
            <input type="radio" />
        </div>
      </div>
    </li>
    
   
  </ul>
  <div>
    <a class="button startBtn" [routerLink]="['/mdaDataUpload']">Start</a>
  </div>
</div>