<app-header></app-header>
<div class="row no-gutters MDcontainer">
    <div class="title">How many waves?</div>
    <div class="sub-title">How many buyer waves do you want to input?</div>
    <ul>
        <li>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
                </div>
                <div class="floatLeft">
                    Wave1
                </div>
                <div class="col-sm-400 floatRight">
                    <input type="radio" name="noOfWaves" />
                </div>
            </div>
        </li>
        <li>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
                </div>
                <div class="floatLeft">
                    Wave2
                </div>
                <div class="floatRight">
                    <input type="radio" name="noOfWaves" />
                </div>
            </div>
        </li>
        <li>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
                </div>
                <div class="floatLeft">
                    Wave3
                </div>
                <div class="floatRight">
                    <input type="radio" name="noOfWaves" />
                </div>
            </div>
        </li>
        <li>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkGrey" data-tooltip="Further Explain Hover."></div>
                </div>
                <div class="floatLeft">
                    Wave4
                </div>
                <div class="floatRight">
                    <input type="radio" name="noOfWaves" />
                </div>
            </div>
        </li>


    </ul>
    <!--div>
        <a class="button startBtn" [routerLink]="['/MdMarkdownDetail']">Start</a>
    </div-->
</div>
<footer class="footerbackground">
    <div class="row wrapper">
        <button type="button" class="btn btn-primary btn-default" (click)="previous();" tooltip="previus">Previous</button>
        <button type="button" class="btn btn-primary btn-default" (click)="next();" tooltip="Save & Continue">Save & Continue</button>
    </div>
</footer>