/*===============UX=================*/
/*
@charset "utf-8";

.logoCoty {
	margin-top: 40px;
    margin-bottom: 50px;
	text-align:center;	
}
	
.loginForm {
	width:414px;
	margin:0 auto;	
}

.loginFormText {
	font-size:20px;
	color: #4C1D82;
	text-align:center;
	margin-bottom:15px;
    letter-spacing: 0.01em;
}
.loginForm input.form-control{
	border: solid 1px #4C1D82;
	height:52px;
	font-size:26px;
	border-radius:0;
	color: #4C1D82;
}
.loginForm input {
	margin-bottom:33px;	
}

.loginForm button {
	border: solid 1px #4C1D82;
	border-radius: 15px;
	min-width:137px;
	color: #4C1D82;
	font-weight:bold;
	margin-right:5px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(192,192,192,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(192,192,192,1);
    box-shadow: 0px 2px 5px 0px rgba(192,192,192,1);
}

.loginForm .btn-primary {
	border-color:#4C1D82;
	background-color:#4C1D82;
	color:#fff;
}
.loginContainer{
	background:url("../../assets/images/login-background.png") top right no-repeat;
	background-size:cover;
    background-position-y: 2%;
	z-index:97;
    min-height: 78vh;
}
*/
/*===============custom=================
.container {
    display: block;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border: 1px solid #4d1c8a;
}

input:focus {
    outline: none;
}

.placHolder {
    position: relative;
    margin-bottom: 30px;
}

.button {
    background-color: #ffffff;
    border: 1px solid #4d1c8a;
    color: #4d1c8a;
    padding: 5px 30px;
	border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #4d1c8a;
    border: 1px solid #4d1c8a;
    color: white;
}

.logo {
    background: url("../../assets/images/logo.png") repeat-y;
    width: 159px;
    height: 106px;
    margin: 0 auto;
}

.backgroundLoginImage {
    background-image: url("../../assets/images/cotyDesktopBanner_bg.jpg"); 
}
*/
/*===============Login page=================
.login {
    margin: 0 auto;
    text-align: center;
    display: table;
    vertical-align: middle;
}

.loginHeader {
	margin-bottom: 20px; 
	font-size: 18px; 
    color: #4d1c8a;
    font-weight: bold;
}

.marTop20px {
    margin-top: 20px;
}
*/
/*===============Header=================
.topBoxShadow {
	box-shadow: 0px 4px 4px #D1D1D1;
    margin-top: 11px;
}

.topHeaderUST {
    background: url("../../assets/images/loginHeader.png") repeat-y;
    width: 550px;
    height: 54px;
    margin: 0 auto;
}

.headerBottomStrip {
    background: url("../../assets/images/headerBottomStrip.png") repeat-y;
    width: 1095px;
    height: 26px;
    margin: 0 auto;
}
*/