<header class="headerLogin ">
    <div class="container-fluid welcome"> <span class="welcomeText">Welcome to Business Intelligence Platform</span><span class="logo-UstGlobal"><img src="assets/images/poweredByUst.png" width="91" height="50" alt=""/></span> </div>
</header>
<section class="main-body" >
    <div class="container-fluid loginContainer">
        <div class="logoCoty"><img src="./assets/images/logoCoty.png" alt=""/></div>
        <form class="loginForm login" [formGroup]="userForm" (submit)="redirectToDashboard()">
        <p class="loginFormText">Please use your credentials to login</p>
        <div class="form-group">
            <!--input type="text" class="form-control" id="" placeholder="User ID"-->
            <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="User Id">
            <control-messages [control]="userForm.controls.userName"></control-messages>
        </div>
        <div class="form-group">
            <!--input type="password" class="form-control" id="" placeholder="Password"-->
            <input type="password" class="form-control" id="password" type="password" formControlName="password" placeholder="Password" />
            <control-messages [control]="userForm.controls.password"></control-messages>
        </div>
        <p>
            <!--button type="button" class="btn btn-default ">Reset</button>
            <button type="submit" class="btn btn-primary  ">Login</button-->
            <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Login</button>
        </p>
        </form>
    </div>
</section>
<!--div class="topHeaderUST"></div>
<div class="headerBottomStrip"></div>
<div class="topBoxShadow">&nbsp;</div>
<div class="container backgroundLoginImage00" class="marTop20px">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
			  <div class="logo"></div>
			  <form class="login" [formGroup]="userForm" (submit)="redirectToDashboard()">
                <div >
                    <div class="loginHeader">Please use your credentials to login</div>
                    <div class="placHolder">
                        <input id="userName" formControlName="userName" placeholder="User Id">
                        <span class="highlight"></span>
                        <span class="inputBottomBar"></span>
                        <control-messages [control]="userForm.controls.userName"></control-messages>
                    </div>

                    <div class="placHolder">
                        <input id="password" type="password" formControlName="password" placeholder="Password">
                        <span class="highlight"></span>
                        <span class="inputBottomBar"></span>
                        <control-messages [control]="userForm.controls.password"></control-messages>
                    </div>
                </div>
				
				<div class="floatLeft">   
                  <button class="button" (click)="reset()">Reset</button>
                  <button type="submit" class="button" [disabled]="!userForm.valid">Login</button>
				</div>
              </form>
			</div>
        </div>
    </div>
</div-->
                         