<app-header></app-header>
<app-nav></app-nav>


<div class="row no-gutters MDcontainer">
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="sub-title">Inventory Summary</div>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkWhite"></div>
                </div>
                <div class="floatLeft">
                    Gross Retail Inventory In $
                </div>
                <div class="col-sm-4 floatRight">       
                    <input type="text" />
                </div>
            </div>
            <div class="row padBottom20px">
              <div class="floatLeft">
                  <div class="questionMarkWhite"></div>
              </div>
              <div class="floatLeft">
                  Total Store Count
              </div>
              <div class="col-sm-4 floatRight">       
                  <input type="text" />
              </div>
          </div>
          <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                Unit Cost Price
            </div>
            <div class="col-sm-4 floatRight">       
                <input type="text" />
            </div>
        </div>
        <div class="row padBottom20px">
          <div class="floatLeft">
              <div class="questionMarkWhite"></div>
          </div>
          <div class="floatLeft">
              Unit Retail Price
          </div>
          <div class="col-sm-4 floatRight">       
              <input type="text" />
          </div>
        </div>
        <div class="row padBottom20px">
          <div class="floatLeft">
              <div class="questionMarkWhite"></div>
          </div>
          <div class="floatLeft">
             Average number of weeks on hand
          </div>
          <div class="col-sm-4 floatRight">       
              <input type="text" />
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sub-title">Markdown Summary</div>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkWhite"></div>
                </div>
                <div class="floatLeft">
                    Total Liabilithy Cost to Coty
                </div>
                <div class="col-sm-4 floatRight">       
                    <input type="text" />
                </div>
            </div>
            <div class="row padBottom20px">
              <div class="floatLeft">
                  <div class="questionMarkWhite"></div>
              </div>
              <div class="floatLeft">
                  Remaining Inventory on Hand
              </div>
              <div class="col-sm-4 floatRight">       
                  <input type="text" />
              </div>
          </div>
          <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                Total Store Count is listed in $s
            </div>
            <div class="col-sm-4 floatRight">       
                <input type="text" />
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="sub-title">Innovation Summary</div>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkWhite"></div>
                </div>
                <div class="floatLeft">
                    ROI
                </div>
                <div class="col-sm-4 floatRight">       
                    <input type="text" />
                </div>
            </div>
            <div class="row padBottom20px">
              <div class="floatLeft">
                  <div class="questionMarkWhite"></div>
              </div>
              <div class="floatLeft">
                  Sales Forecast for each year for the next 3 years:
              </div>
              <div class="col-sm-4 floatRight">       
                  <input type="text" />
              </div>
          </div>
          
      </div>
    </div>
  </div>
</div>





