
.navbar li {
    width: 20%;
    display: inline-block;
}


.navbar li.first a {
    text-align: left;
    left: 0;
}
.navbar li.last a {
    text-align: right;
    left: auto;
    right: 0;
}


.navbar-default {
    background-color: #ffffff;
    border: 0px;
    color: #5264AE;
}
.navbar {
    margin-bottom: 0px;
    min-height: 35px;
}
.navbar-nav>li>a {
    padding: 0px 15px;
    color: #A289C2;
}
.nav {
    width: 100%;
}