<nav id="topNavbar" class="navbar navbar-default" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav steps00">
              <li><a [routerLink]="['/dashboard']" routerLinkActive="active">New Markdown Analysis</a></li>
              <li><a href="" >Life Cycle Analysis</a></li>
              <li><a [routerLink]="['/holidayInv']" routerLinkActive="active">Holiday Inventory Opt</a></li>
              <li><a href="">Help</a></li>
              <li><a href="" >Admin</a></li>
              <li class="filler"></li>
          </ul>
      </div>
  </div>
</nav>

