<app-header></app-header>
<app-nav></app-nav>
<div class="row no-gutters MDcontainer">
    <div class="title">What you need</div>
    <div class="box_first">
        <div><span>Input Data required for Markdown</span></div>
        <div><span>Details Required for Topline Summary</span></div>
        <div><span>Detailes required for Sustainable Growth</span></div>
        <div><span>Details requried for Innovation Summary</span></div>
    </div>
    <div>
            <a class="button startBtn" [routerLink]="['/MdSelectRetailer']">Start</a>
        </div>
</div>