<app-header></app-header>

<div class="no-gutters MDcontainer" >
<div class="container">
    <div class="row">
      
      <div class="col-sm-12">
        <div class="title">Sustainable Growth Details</div>
            <div class="row padBottom20px">
                <div class="floatLeft">
                    <div class="questionMarkWhite"></div>
                </div>
                <div class="floatLeft">
                      TOP TIER % Percentile                    
                </div>
                <div class="col-sm-4 floatRight">       
                    <input type="text" />
                </div>
            </div>
            <div class="row padBottom20px">
              <div class="floatLeft">
                  <div class="questionMarkWhite"></div>
              </div>
              <div class="floatLeft">
                  MID TIER % Percentile                  
                </div>
              <div class="col-sm-4 floatRight">       
                  <input type="text" />
              </div>
          </div>
          <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                  BOTTOM TIER % Percentile                
              </div>
            <div class="col-sm-4 floatRight">       
                <input type="text" />
            </div>
        </div>
        <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                FOR TOP REPLACE <input type="text" /> SKU’s ( UNITS OUT)  with <input type="text" /> SKU’s ( UNITS IN)                
            </div>
            <div class="col-sm-4 floatRight">       
                .
            </div>
        </div>
        <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                FOR MID REPLACE <input type="text" /> SKU’s with <input type="text" /> SKU’s                
            </div>
            <div class="col-sm-4 floatRight">       
                .
            </div>
        </div>
        <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                FOR BOTTOM REPLACE <input type="text" /> SKU’s with <input type="text" /> SKU’s                
            </div>
            <div class="col-sm-4 floatRight">       
                .
            </div>
        </div>
        <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                MOD SET QUANTITY FOR TOP TIER STORE’s               
            </div>
            <div class="col-sm-4 floatRight">       
                <input type="text" />
            </div>
        </div>
        <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                MOD SET QUANTITY FOR MID TIER STORE’s               
            </div>
            <div class="col-sm-4 floatRight">       
                <input type="text" />
            </div>
        </div>
        <div class="row padBottom20px">
            <div class="floatLeft">
                <div class="questionMarkWhite"></div>
            </div>
            <div class="floatLeft">
                MOD SET QUANITY FOR BOTTOM TIER STORE’s                
            </div>
            <div class="col-sm-4 floatRight">       
                <input type="text" />
            </div>
        </div>
          
      </div>
    </div>
  </div>
</div>
<footer class="footerbackground">
    <div class="row wrapper">
        <button type="button" class="btn btn-primary btn-default" (click)="previous();" tooltip="previus">Previous</button>
        <button type="button" class="btn btn-primary btn-default" (click)="next();" tooltip="Save & Continue">Save & Continue</button>
    </div>
</footer>
