<app-header></app-header>
<app-nav></app-nav>
<div class="row no-gutters MDcontainer">
    <div class="title">What you need</div>
    <div class="box_first">
        <div><span>Input Data required for Markdown</span></div>
        <div><span>Details Required for Topline Summary</span></div>
        <div><span>Detailes required for Sustainable Growth</span></div>
        <div><span>Details requried for Innovation Summary</span></div>
    </div>
    <div>
            <a class="button startBtn" [routerLink]="['/MdCalStep2']">Start</a>
        </div>
  <!--
  <div class="sub-title">Here are the Elements needed for the markdown analysis.</div>
  <ul>
    <li>
        1. List of SKU UPCs to be considered for Markdown Analysis. *
    </li>
    <li>
        2. Maximum Trade Spent Allowance. *
    </li>
  </ul-->
</div>