.carousel-control.right {
    right: 0;
    left: 950px;
    width: 0px;    
}
.carouselRightDiv {
    background-color: #47434C;

    height: 251px;
    opacity: .7;
    float: right;
    z-index: 100000000000;
}
.carouselRightDiv ul {
    padding: 20px;
    color: white;
    font-size: 20px;
    list-style-type: none;
}

.carousel {
    background-color: #5264AE;
}
.carouselImage {
    width: 90%; 
    height: 309px;
}

.parentDiv {
    padding: 0px;
    float: left;
}
