<app-header></app-header>


<div class="no-gutters MDcontainer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title">Innovation Details</div>
                <div class="sub-title">Please enter innovation product details</div>
                <div class="middleContainer">
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Lift on Innovation vs. Deletes                                
                        </div>
                        <div class="col-sm-4 floatRight">
                                <input type="text" />
                        </div>
                    </div>
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                            Standard ModSet QTY per SKU                                
                        </div>
                        <div class="col-sm-4 floatRight">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row padBottom20px">
                        <div class="floatLeft">
                            <div class="questionMarkWhite"></div>
                        </div>
                        <div class="floatLeft padTop5px">
                                Innovation Unit Retail                               
                        </div>
                        <div class="col-sm-4 floatRight">
                            <input type="text" />
                        </div>
                    </div>
                    <div class="row padBottom20px">
                            <div class="floatLeft">
                                <div class="questionMarkWhite"></div>
                            </div>
                            <div class="floatLeft padTop5px">
                                    Innovation Unit Cost
                                    
                            </div>
                            <div class="col-sm-4 floatRight">
                                <input type="text" />
                            </div>
                        </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<footer class="footerbackground">
    <div class="row wrapper">
        <button type="button" class="btn btn-primary btn-default" (click)="previous();" tooltip="previus">Previous</button>
        <button type="button" class="btn btn-primary btn-default" (click)="next();" tooltip="Save & Continue">Save & Continue</button>
    </div>
</footer>