
/*====UX work=====

.colorPurple {
	color: #4C1D82;	
}

@charset "utf-8";
/* CSS Document 

body {

	font-family: Arial,sans-serif,"Helvetica Neue",Helvetica ;
	background-color: #fff;
	font-size: 12px;
}
.headerLogin {
	width: 100%;
	height:130px;

	position: relative;
	z-index: 99;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(192,192,192,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(192,192,192,1);
	box-shadow: 0px 3px 5px 0px rgba(192,192,192,1);
}

.welcome {
	height:75px;
	color:#4C1D82;	
	text-align:center;

	background:url("./assets/images/welcomeBottomShadow.png") center bottom no-repeat;
	padding-top: 12px;
}
.welcomeText{
	width:auto;	
	font-size:24px;

}
.logo-UstGlobal {
	margin-left: 15px;
}	


*/

/*===============Layout=================*/
.padTop5px {
    padding-top: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

a {
    cursor: pointer;
}



label {
    color: #4d1c8a;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

control-messages div {
    color: #E82C0C;
    margin: 6px 0;
    text-align: left;
    width: 300px;
}

.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
ol, ul {
    list-style-type: none;
}
.MDcontainer {
    background-color: #4C1D82; 
    height: 500px; 
    color: #ffffff;
    margin: 0px;
}
.title {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
.sub-title {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}
footer .wrapper {
    text-align: center;
    margin: 10px 0px;
}

.questionMarkWhite {
    background: url("./assets/images/questionMarkWhite.png") no-repeat;
    width: 33px;
    height: 28px;
    margin: 0 auto;
}
.questionMarkGrey {
    background: url("./assets/images/questionMarkGrey.png") no-repeat;
    width: 33px;
    height: 28px;
    margin: 0 auto;
}
.subTitle {
    font-size: 20px;
    padding: 10px 0px;
}
/*
.radio{
    color:#999;
    font-size:15px;
    position:relative;
  }
  .radio span{
    position:relative;
     padding-left:20px;
  }
  .radio span:after{
    content:'';
    width:15px;
    height:15px;
    border:3px solid;
    position:absolute;
    left:0;
    top:1px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  .radio input[type="radio"]{
     cursor: pointer; 
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
  }
  .radio input[type="radio"]:checked + span{
    color:#0B8;  
  }
  .radio input[type="radio"]:checked + span:before{
      content:'';
    width:5px;
    height:5px;
    position:absolute;
    background:#0B8;
    left:5px;
    top:6px;
    border-radius:100%;
    -ms-border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
  }

/*===============Material=================
.inputBottomBar {
    position: relative;
    display: block;
    width: 300px;
}

.inputBottomBar:before,
.inputBottomBar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.inputBottomBar:before {
    left: 50%;
}

.inputBottomBar:after {
    right: 50%;
}

input:focus ~ .inputBottomBar:before,
input:focus ~ .inputBottomBar:after {
    width: 50%;
}
/* ------Radio ----

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}*/

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -160px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #FAFAFA;
    background-color: #FAFAFA;
    color: #000;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  
  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #FAFAFA;
    border-top: 5px solid #FF060;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  button.btn-primary, .main-body .footer-fixed button.btn-primary:active {
    border-color: #4C1D82;
    background-color: #4C1D82;
    color: #fff;
	border: solid 1px #4C1D82;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 5px;
    box-shadow: 0px 2px 5px 0px rgba(192,192,192,1);
}
